# ignore everything, except the entries below
*
!.install

!.bashrc
!.profile

!.gitconfig*
!.gitignore_global
!.gitignore

!.vimrc
!.vim
!.vim/*

!.tmux.conf

!.gnupg
!.gnupg/gpg.conf

!.config

!.zshrc
