*
!.bashrc
!.elinks
!.gitconfig*
!.gitignore_global
!.gitignore
!.links2
!.vimrc
!.vim
!.vim/syntax
!.vim/syntax/*
!.vim/colors
!.vim/colors/*
!.tmux.conf
!.irssi
!.irssi/*
!.irssi/scripts
!.irssi/scripts/*
.irssi/config.autosave
!.bin
!.bin/*
!.profile
!.gnupg
!.gnupg/gpg.conf
!.config
!.config/htop
!.config/htop/*
