# ignore everything, except the entries below
*
!.install

!.bashrc

!.gitconfig*
!.gitignore_global
!.gitignore

!.vimrc
!.vim
!.vim/*

!.tmux.conf

!.gnupg
!.gnupg/gpg.conf

!.config

!.zshrc
!.zsh
!.zsh/*
