[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vundle"]
	path = vim/bundle/vundle
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "opp.zsh"]
	path = zsh/opp.zsh
	url = https://github.com/hchbaw/opp.zsh.git
[submodule "berkshelf.zsh"]
	path = zsh/berkshelf.zsh
	url = https://github.com/berkshelf/berkshelf-zsh-plugin.git
[submodule "zsh-git-prompt"]
	path = zsh/git-prompt.zsh
	url = https://github.com/zhimsel/zsh-git-prompt.git
