[submodule "oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "opp.zsh"]
	path = zsh/opp
	url = https://github.com/hchbaw/opp.zsh.git
[submodule "berkshelf.zsh"]
	path = zsh/berkshelf
	url = https://github.com/berkshelf/berkshelf-zsh-plugin.git
[submodule "zsh-git-prompt"]
	path = zsh/git-prompt
	url = https://github.com/zhimsel/zsh-git-prompt.git
[submodule "vim-plug"]
	path = vim/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "zsh/autoenv"]
	path = zsh/autoenv
	url = https://github.com/Tarrasch/zsh-autoenv.git
[submodule "zsh/zsh-completions"]
	path = zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
[submodule "zsh/completion-generator"]
	path = zsh/completion-generator
	url = git@github.com:RobSis/zsh-completion-generator.git
